<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_dialog_info"
        android:supportsRtl="true"
        android:theme="@style/Theme.OptimetricsChart"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OptimetricsChart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.tests.VisualAcuityTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.ColorVisionTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.AstigmatismTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.ContrastSensitivityTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.DepthPerceptionTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.VisualFieldTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.BinocularVisionTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.LandoltCTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.tests.SnellenTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OptimetricsChart.Fullscreen" />
            
        <activity
            android:name=".ui.education.EducationActivity"
            android:exported="false"
            android:theme="@style/Theme.OptimetricsChart" />
            
        <activity
            android:name=".ui.library.MedicalLibraryActivity"
            android:exported="false"
            android:theme="@style/Theme.OptimetricsChart" />
            
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.OptimetricsChart" />
            
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.OptimetricsChart" />
    </application>
</manifest>
